body{
    font-family: 'Viaoda Libre', cursive;
}


.navstyle{
    
    width: 100%;
    z-index: 1;
    background: transparent;
    border: 0;
    border-radius: 0;
    height: 85px;
}

.navstyle .navbar-nav {
    text-align: right;
    font-weight: 600;
    float: right;
    padding-right: 100px;
    text-transform: uppercase;
    padding-top: 30px
    
}
.navstyle .navbar-nav li a {
    color: white;
    
    
}

.carousel-fade{
    
    top: -105px;
    
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }    
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }    
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }    
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }    
  .carousel-fade .carousel-control {
    z-index: 2;
  }
.navbar-brand{
    padding-left: 13px;  
}

.jumbotron {
    text-align: center;
    background: white;
    margin-bottom: 30px ;
}

.img-responsive{
    height: 100px;
}

.imageSize {
    text-align: center;
}


.imageSize img{

    width: 200px;
    height: 200px;

}