body{
    font-family: 'Viaoda Libre', cursive;
}


.navstyle{
    
    width: 100%;
    z-index: 1;
    background: transparent;
    border: 0;
    border-radius: 0;
}
.navstyle .navbar-nav {
    text-align: right;
    font-weight: 600;
    float: right;
    padding-right: 100px;
    text-transform: uppercase;
    padding-top: 30px
    
}
.navstyle .navbar-nav li a {
    color: white;
    
    
}
.myCarousel{
    
    top: -100px;
    
}

.navbar-brand{
    padding-left: 100px;  
}

.jumbotron {
    text-align: center;
    background: white;
    margin-bottom: 30px ;
}

.img-responsive{
    height: 100px;
}

.imageSize {
    text-align: center;
}


.imageSize img{

    width: 200px;
    height: 200px;

}